<!DOCTYPE html>
<html>
<head>
	<title>followers</title>
</head>
<body>
	<div>
		<a href="/">home</a>
		<a href="/explore/">explore</a>
		<a href="/u/{{logname}}/">{{logname}}</a>
	</div>
	<h2>Followers</h2>
	{% for x in followers %}
		<img src="{{x['user_img_url']}}" width = "20" height = "20" alt="yeehaw">
		<p><a href="/u/{{x.username}}/">{{x["username"]}}</a></p>
		{% if x["logname_follows_username"] and logname != x["username"] %}
			<p>following</p>
		{% elif not x["logname_follows_username"] and logname != x["username"]%}
			<p>not following</p>
		{% endif %}
		
	{% endfor %}



</body>
</html>