<!DOCTYPE html>
<html>
<head>
	<title>Insta485</title>
</head>
<body>
	<div>
		<a href="/">home</a>
		<a href="/explore/">explore</a>
		<a href="/u/{{logname}}/">{{logname}}</a>
	</div>

	{% for post in posts %}

		<div>
			<a href="/u/{{logname}}/index.html">{{logname}}</a>
			<a href="/p/{{post['postid']}}">{{post["timestamp"]}}</a>
			<img src="{{img_url}}" alt="yeehaw">
			{% if likes == 1 %}
				<p>1 like</p>
			{% else %}
				<p>{{likes}} likes</p>
			{% endif %}
			
			{% for comment in post["comments"] %}
				<p><a href='/u/{{comment["owner"]}}'> user1 </a> {{comment["text"]}}</p>
			{% endfor %}
		</div>
	
	{% endfor %}
	

</body>
</html>