<!DOCTYPE html>
<html>
<head>
	<title>posts</title>
</head>
<body>
	<div>
		<a href="/">home</a>
		<a href="/explore/">explore</a>
		<a href="/u/{{logname}}/">{{logname}}</a>
	</div>

	<img src="{{img_url}}" alt="yeehaw">
	<a href="/u/{{owner}}/"><img src="{{owner_img_url}}" width="20" height="20" alt="yeehaw"></a>
	<p><a href="/u/{{owner}}/">{{owner}}</a></p>
	<p><a href="/p/{{postid}}/">{{timestamp}}</a></p>
	{% if likes == 1 %}
		<p>1 like</p>
	{% else %}
		<p>{{likes}} likes</p>
	{% endif %}

	{% for comment in comments %}
		<p><a href="/u/{{owner}}/">{{comment["owner"]}}</a></p>
		<p>{{comment["text"]}}</p>
	{% endfor %}

</body>
</html>